@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>USITC Questionnaire API</title>
</head>
<body>
<h1>
    USITC Questionnaires API
</h1>
<p>
    This API provides functionality to extract questionnaire response data from Microsoft Word documents containing form fields or content controls.
</p>
<h2>
    INSTRUCTIONS
</h2>
<ul>
    <li>
        Files must be in '.docx' format.
    </li>
    <li>
        Files must contain either form fields or content controls.
    </li>
    <li>
        The response format (form fields, content controls) are handled by separate endpoints: "/forms" and "/controls".
    </li>
    <li>
        The output format can be modified by appending "?format=[FORMAT]" to the URL, where '[FORMAT]' is 'xml', 'json', 'csv', 'psv', or 'tsv'.
    </li>
</ul>
<form action="/api/questionnaires/upload/controls?format=@(Context.Request.Query["format"])" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="files" multiple/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit">Upload</button>
        </div>
    </div>
</form>
</body>
</html>