@using QuestionnairesApi.Models
@model IEnumerable<Survey>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Upload Form Fields";
}
<h2>
    Questionnaires API
</h2>
<p>
    This API provides functionality to extract questionnaire response data from Microsoft Word documents (.docx) containing form fields.
</p>
<form asp-controller="Upload" asp-action="Forms" method="post" enctype="multipart/form-data">

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-secondary active">
            <input type="radio" id="html" name="format" value="html" checked>
            html
        </label>
        <label class="btn btn-outline-secondary">
            <input type="radio" id="json" name="format" value="json">
            json
        </label>
        <label class="btn btn-outline-secondary">
            <input type="radio" id="xml" name="format" value="xml">
            xml
        </label>
        <label class="btn btn-outline-secondary">
            <input type="radio" id="csv" name="format" value="csv">
            csv (,)
        </label>
        <label class="btn btn-outline-secondary">
            <input type="radio" id="psv" name="format" value="psv">
            psv (|)
        </label>
        <label class="btn btn-outline-secondary">
            <input type="radio" id="tsv" name="format" value="tsv">
            tsv (\t)
        </label>
    </div>

    <div class="input-group mb-3 mt-3">
        <div class="custom-file">
            <input id="files" name="files" type="file" class="custom-file-input" accept=".docx,.docm" multiple>
            <label class="custom-file-label" for="files">Choose files</label>
        </div>
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Upload</button>
        </div>
    </div>

    <ul id="file-names"></ul>

</form>
@if (Model != null)
{
    @await Html.PartialAsync("SurveyTablePartial", Model)
}